HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


.settings/org.eclipse.core.resources.prefs

*.class

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.m2e.core.prefs

.swagger-codegen-ignore

.swagger-codegen/VERSION

.travis.yml

build.gradle

build.sbt

git_push.sh

gradle.properties

gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
gradlew


.mvn/wrapper/MavenWrapperDownloader.java
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

gradlew.bat

settings.gradle
*.DS_Store
*.original
.DS_Store
*/target/*

*/.settings/*
*.bpmn2d
*/logs/*
*.log